.portfolio-bg {
  background-color: #f5f8fd;
  padding-top: 46px;
  min-height: 105vh;
}

.portfolio-con {
  display: flex;
  margin-top: 23px;
  margin-bottom: 23px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 14pt;
  background-color: #ffffff;
  border-radius: 40px;
  height: 50px;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 500px;
}

.port {
  width: 23px;
  color: #000000;
  text-decoration: none;
}

.port-box {
  width: 23vw;
  max-width: 500px;
}

.port-selected {
  width: 23px;
  color: #0e9fdd;
  text-decoration: none;
}

.port:hover,
.port:focus,
.port-selected:hover,
.port-selected:focus {
  color: #0e9fdd;
  text-decoration: none;
  cursor: pointer;
}
.port-img {
  height: 250px;
  object-fit: contain;
  object-position: top;
  padding: 5px 5px 5px 5px;
}
