.home-con {
  height: 100vh;
  margin-left: 27vw;
  padding-top: 32vh;
  font-family: "Nunito", sans-serif;
}

.home-text-head {
  color: #ffffff;
  font-size: 40pt;
  font-weight: bold;
}

.home-text-con {
  color: #ffffff;
  font-size: 23pt;
}

@media screen and (max-width: 768px) {
  .home-text-head {
    color: #ffffff;
    font-size: 32pt;
    font-weight: bold;
  }
  .home-text-con {
    color: #ffffff;
    font-size: 14pt;
  }
}
