.skills-bg {
  background-color: #ffffff;
  padding-top: 46px;
  padding-bottom: 46px;
}

.edu-bg {
  background-color: #ffffff;
  padding-top: 46px;
  padding-bottom: 46px;
}

.resume-con {
  margin-top: 23px;
}

.edu-con {
  margin-top: 36px;
}

.skill-icon {
  color: #173b6c;
  margin-top: 5px;
  margin-bottom: 5px;
}

.skill-name {
  font-weight: 600 !important;
}
