body {
  overflow-x: hidden;
}
.home-page-bg {
  height: 100vh;
  background: url("https://images.unsplash.com/photo-1477346611705-65d1883cee1e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Nunito", sans-serif;
}

.content {
  margin-left: 320px;
}
h2 {
  font-weight: 900 !important;
  border-bottom: 5px solid #149ddd;
  color: #173b6c;
  display: inline;
}

@media screen and (max-width: 1200px) {
  .content {
    margin-left: 0px;
  }
}
