.sidebar-bg {
  position: fixed;
  background-color: #040a14;
  width: 300px;
  height: 100vh;
}

.menu-item {
  color: #6f7180;
  text-decoration: none;
  cursor: pointer;
}

.menu-item:hover {
  color: #ffffff;
}

.menu {
  height: 100vh;
  min-height: 640px;
  display: block;
  position: fixed;
}

.menu::after {
  color: #ffffff;
}

.gitBtn {
  background-color: #172536 !important;
  width: 200px;
  border-color: transparent !important;
  font-size: 14px;
  font-weight: bold !important;
  color: #6f7180 !important;
  box-shadow: none !important;
  border-radius: 20px !important;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3.7rem; /* Footer height */
}

.mobile-menu {
  display: none;
}
.active {
  color: #ffffff !important;
}

.menu-item-btn {
  margin-left: 23px;
  padding-top: 14px;
  padding-bottom: 14px;
}

.icon-menu {
  margin-left: 14px;
  margin-right: 23px;
  display: inline;
}
.text-menu {
  font-size: 16px;
  display: inline;
}

@media screen and (max-width: 1200px) {
  .mobile-menu {
    display: block;
    position: fixed;
    background-color: #172536;
    width: 46px;
    height: 46px;
    text-align: center;
    align-items: center;
    font-size: 1.5rem;
    color: #ffffff;
    border-radius: 27px;
    margin-top: 14px;
    right: 14px;
    z-index: 2;
  }
  .menu {
    display: block;
    position: fixed;
    height: 100vh;
    min-height: 640px;
    left: -100%;
    transition: 0.5s;
  }
  .menu.active {
    left: 0;
    z-index: 3;
  }
}
