.contact-bg {
  background-color: #ffffff;
  padding-top: 46px;
  min-height: 100vh;
}

.contact-con {
  margin-top: 23px;
  line-height: 14pt;
  font-size: 14pt;
}

.contact-icon {
  float: left;
  margin-right: 23px;
}
